<?xml version='1.0' encoding='utf-8'?>
<widget id="com.vincent.hardpass" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HardPass</name>
    <description>
        An addictive game that involves avoiding obstacles to reach a goal.
    </description>
    <author email="vincentcote87@gmail.com" href="#">
        Vincent Cote
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
